{% extends "base.html" %}
{% block content %}
  <h2>{{ ad.title }}</h2>
  <p><strong>Категория:</strong> {{ ad.category }}</p>
  <p><strong>Состояние:</strong> {{ ad.condition }}</p>
  <p><strong>Описание:</strong> {{ ad.description }}</p>
  {% if ad.image_url %}
    <img src="{{ ad.image_url }}" alt="{{ ad.title }}" style="max-width: 300px;">
  {% endif %}
  <p><strong>Автор:</strong> {{ ad.user.username }}</p>
  <p><strong>Опубликовано:</strong> {{ ad.created_at }}</p>

  {% if user == ad.user %}
    <a href="{% url 'ad_update' ad.pk %}">Редактировать</a> |
    <a href="{% url 'ad_delete' ad.pk %}">Удалить</a>
  {% endif %}

  {% if user.is_authenticated and ad.user != user %}
    <form action="{% url 'create_exchange_proposal' ad.pk %}" method="get">
        <button type="submit">Предложить обмен</button>
    </form>
  {% endif %}

  <p><a href="{% url 'ad_list' %}">Назад к списку</a></p>
{% endblock %}